.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.objectEntries {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.objectEntry {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
}
.objectEntryValue {
  margin-left: 2px;
  font-weight: bold;
}

.objectEntryGrid{
  display: flex;
  flex-wrap: wrap;
}
.objectEntryGridName {
  padding-left: 2px;
  padding-right: 4px;
  color: #1d39c4;
  background: #f0f5ff;
  border-color: #adc6ff;
}
.objectEntryGridValue {
  padding-left: 4px;
  padding-right: 2px;
  color: #096dd9;
  background: #e6f7ff;
  border-color: #91d5ff;
}